.idea
composer.phar
vendor
uploads
localpackage.sh
*.mwb.*
docs/*.csv
docs/*.xls
docs/*.xlsx
public/css/src/bootstrap
public/js/src/libs
public/js/src/frontend/layout.coffee
public/js/src/admin/assets
public/html

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
