RewriteEngine On
RewriteRule ^api(/.*)$ api.php$1 [QSA,NC,L]
RewriteRule ^(css|js|fonts|img)(/.*)$ public/$1$2 [NC,L]
RewriteRule ^(about|blog|case-maps|cases|contact|faqs|infographics)(/.*)?$ public/index.html#$1$2 [L]
RewriteRule ^admin(/.*)?$ public/admin.html#$1 [L]