<ul class="breadcrumb">
    <li><a href="#" data-nav>Home</a></li>
    <li class="active">About Us</li>
</ul>

<div class="row margin-bottom-40">  
  <div class="col-md-12 col-sm-12">
    <h1>About Us</h1>
    <div class="content-page">
      <div class="row margin-bottom-30">
        <div class="col-md-8">
          <p>Public Interest In Corruption Cases (PICC) is an idea conceptualized and hacked at the Civic Codeathon a 3-days event organized by BudgIT and sponsored by United States Department of State Bureau of International Narcotics and Law Enforcement Affairs (INL) in may 2014.</p>

          <p>PICC is aimed at citizen participation in governance and understanding the dynamics of corruption within the Nigerian State.</p>

          <p>Corruption costs the state and citizens millions every year in lost funds for economic and social development. While new institutions have been set up to root out corruption and cases are going to trial there seems to be lack of interest in corruption cases after the initial charge and arraignment of suspects. With slow justice system, news reports of corruption cases lose steam and journalists and the general public quickly moves on to other news.</p>

          <p>PICC seeks to be the one-stop reference portal for current as well as archived information on corruption cases in Nigeria. </p>

          <p>The PICC portal will help in: </p>
          <ul>
            <li>raising the interest of Nigerians in the prosecution of corruption, </li>
            <li>increasing public confidence and awareness on efficiency of the judicial system, </li>
            <li>serving as a reference point for information on corruption prosecution, </li>
            <li>providing a timeline for following progress on corruption cases, </li>
            <li>providing timely information and feedback on the progress of cases, </li>
            <li>indicating possible opportunities for justiciable grounds in each case, </li>
            <li>allowing people’s opinion on the development of corruption cases. </li>
          </ul>

          <p>The tool will be targeting civil society groups, lawyers, literate citizens and concentrated groups in order to fight judicial corruption, engage everyday citizens in these processes by giving them access to information and to make a more transparent government environment in Nigeria.</p>
        </div>
      </div>
    </div>
  </div>
</div>