<ul class="breadcrumb">
    <li><a href="#" data-nav>Home</a></li>
    <li class="active">Cases</li>
</ul>
<div class="row margin-bottom-40">
  <div class="col-md-12 col-sm-12">
    <h1>Cases</h1>
    <div class="content-page">
      <div class="row margin-bottom-30">
        <div class="col-md-9 col-sm-9">
          <form name="" class="content-search-view2">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Search</button>
              </span>
            </div>
          </form>
          {{#each this}}
          <div class="search-result-item">
            <h4><a href="#case">{{{title}}}</a></h4>
            <p>{{{description}}}</p>
            <ul class="blog-info">
              <li><i class="fa fa-gavel"></i> {{charge_number}}</li>
              <li><i class="fa fa-calendar"></i> {{charge_date}}</li>
              <li><i class="fa fa-map-marker"></i> {{court_state}}</li>
              <li><i class="fa fa-tags"></i> {{tags}}</li>
            </ul>
          </div>
          {{/each}}
          <div class="row">
            <div class="col-md-4 col-sm-4 items-info">Cases 1 to 9 of 10 total</div>
            <div class="col-md-8 col-sm-8">
              <ul class="pagination pull-right">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><span>2</span></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">»</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 blog-sidebar">
          <div class="blog-tags margin-bottom-20">
            <h2>Tags</h2>
            <ul>
              <li><a href="#"><i class="fa fa-tags"></i>Money laundering</a></li>
              <li><a href="#"><i class="fa fa-tags"></i>Forgery</a></li>
              <li><a href="#"><i class="fa fa-tags"></i>Stealing</a></li>
              <li><a href="#"><i class="fa fa-tags"></i>Counterfeiting</a></li>
              <li><a href="#"><i class="fa fa-tags"></i>Impersonation</a></li>
              <li><a href="#"><i class="fa fa-tags"></i>Misappropriation</a></li>              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>