<ul class="breadcrumb">
    <li><a href="#" data-nav>Home</a></li>
    <li class="active">Contact Us</li>
</ul>
<div class="row margin-bottom-40">
  <div class="col-md-12">
    <h1>Contacts</h1>
    <div class="content-page">
      <div class="row">
        <div class="col-md-12">
          <div id="map" class="gmaps margin-bottom-40" style="height:400px;"></div>
        </div>
        <div class="col-md-9 col-sm-9">
          <h2>Contact Form</h2>
          <p>Whether you are looking to say hi, or want to find out about our services, we love to hear from you.</p>
          <form role="form">
            <div class="form-group">
              <label for="contacts-name">Name</label>
              <input name="name" type="text" class="form-control" id="contacts-name">
            </div>
            <div class="form-group">
              <label for="contacts-email">Email</label>
              <input name="email" type="email" class="form-control" id="contacts-email">
            </div>
            <div class="form-group">
              <label for="contacts-message">Message</label>
              <textarea name="message" class="form-control" rows="5" id="contacts-message"></textarea>
            </div>
            <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Send</button>
            <button type="button" class="btn btn-default">Cancel</button>
          </form>
        </div>

        <div class="col-md-3 col-sm-3 sidebar2">
          <h4>Our Contacts</h4>
          <address>
            <strong>PICC Nigeria</strong><br>
            294 Herbert Macaulay Way, Yaba<br>
            Lagos, Nigeria<br>
            <abbr title="Phone">P:</abbr> (234) 703 6188 527
          </address>
          <address>
            <strong>Email</strong><br>
            <a href="mailto:info@picc.com.ng">info@picc.com.ng</a><br>
            <a href="mailto:subscribe@example.com">subscribe@picc.com.ng</a>
          </address>
          <ul class="social-icons margin-bottom-40">
            <li><a href="http://facebook.com/piccnigeria" target="_blank" data-original-title="facebook" class="facebook"></a></li>
            <li><a href="http://twitter.com/piccnigeria" target="_blank" data-original-title="twitter" class="twitter"></a></li>
            <li><a href="http://google.com/+PICCNigeria" target="_blank" data-original-title="Google+" class="googleplus"></a></li>
            <li><a href="http://github.com/piccnigeria" target="_blank" data-original-title="github" class="github"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>