<ul class="breadcrumb">
  <li><a href="#" data-nav>Home</a></li>
  <li class="active">Infographics</li>
</ul>

<div class="row margin-bottom-40">
  <div class="col-md-12 col-sm-12">
    <h1>Infographics</h1>
    <div class="content-page">
      <div class="filter-v1">
        <ul class="mix-filter">
          <li data-filter="all" class="filter active">All</li>
          <li data-filter="category_1" class="filter">Did You Know?</li>
          <li data-filter="category_2" class="filter"></li>
          <li data-filter="category_3" class="filter"></li>
        </ul>

        <div class="row mix-grid thumbnails">
          
          <div class="col-md-4 col-sm-6 mix category_1 mix_all" style="display:block;opacity:1;">
            <div class="mix-inner">
              <img alt="" src="img/infographics/img2.jpg" class="img-responsive">
              <div class="mix-details">
                <h4>A Year in EFCC</h4>
                <p>This infographic was created to profile the effort and accomplishment of the Economic and Financial Crimes Commission, EFFC, in their fight against corruption in the year 2013.</p>
                <a class="mix-link"><i class="fa fa-link"></i></a>
                <a data-rel="fancybox-button" title="Project Name" href="img/infographics/img2.jpg" class="mix-preview fancybox-button"><i class="fa fa-search"></i></a>
              </div>           
            </div>                       
          </div>
          
          <div class="col-md-4 col-sm-6 mix category_2 mix_all" style="display:block;opacity:1;">
            <div class="mix-inner">
              <img alt="" src="img/infographics/img1.jpg" class="img-responsive">
              <div class="mix-details">
                <h4>Assets Recovery</h4>
                <p>This infographic shows the monetary valuation of assets recovered from all cases prosecuted by the EFCC in 2013 alone. This is part of our "Did You Know?" series created to educate the public on facts about corruption. </p>
                <a class="mix-link"><i class="fa fa-link"></i></a>
                <a data-rel="fancybox-button" title="Project Name" href="img/infographics/img1.jpg" class="mix-preview fancybox-button"><i class="fa fa-search"></i></a>
              </div>               
            </div>                    
          </div>
          
          <div class="col-md-4 col-sm-6 mix category_3 mix_all" style="display:block;opacity:1;">
            <div class="mix-inner">
              <img alt="" src="img/infographics/img3.jpg" class="img-responsive">
              <div class="mix-details">
                <h4>Some Facts about Corruption Trials</h4>
                <p>Developed from crunching the data we have on corruption cases in Nigeria since 2005, this infographic tells how serious the fight against corruption should be because of its impact on the country's economy.</p>
                <a class="mix-link"><i class="fa fa-link"></i></a>
                <a data-rel="fancybox-button" title="Project Name" href="img/infographics/img3.jpg" class="mix-preview fancybox-button"><i class="fa fa-search"></i></a>
              </div>              
            </div>      
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>